.page-header {
    background-color:rgb(65, 60, 95);
    height: 45px;
    border: gray;
    display: flex;
    justify-items: right;
    justify-content: space-between;
    align-items: center;
    text-orientation: sideways;
    color: white;
    margin: 0;
}
a, a:visited, a:hover, a:active{
    padding: 3px 3px 3px 3px;
    color:inherit;    
}
.login-button{
    background-color: transparent;
    border: 0;
    color: white;
}
.login-button:hover{
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
}