<form (submit)="uploadBackground()" ngNativeValidate>
    <mat-card class="noticia">
        <p class="fotoHint" style="font-size: 20px; color: #263238">
            <i>Selecciona la nueva foto de portada</i>
          </p>
          <input
            type="file"
            (change)="onFileChange($event)"
            name="image"
            id="file"
            class="upload"
            required
          />
          <mat-card-actions class="opciones">
            <button mat-raised-button class="boton" type="submit" [mat-dialog-close]="backgroundImg.url">
              Guardar cambios
            </button>
            <button mat-raised-button class="boton" routerLink="/Home" [mat-dialog-close]="false">
              Cancelar
            </button>
          </mat-card-actions>
    </mat-card>