.navegation-header{
    background-color: rgb(65, 60, 95);
    height: 50px;
    align-content: center;
    justify-items: center;
    justify-content: space-around
}
.navegation-button{
    border-color: transparent;
    background-color: transparent;
    color: white;
    margin:10px;
}
.navegation-button:hover{
    color: white;
    background-color:transparent;
    display:inline-block;
    border-bottom-color: white;
    border-bottom-style: solid;
}