<!DOCTYPE html>
<link rel="stylesheet" href="app.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>
    Portfolio - Petraccaro Cantero Ian
</title>
<head>  
    <meta charset="utf-8">
</head>
<app-header></app-header>
<body>
    <app-scroll-to-top></app-scroll-to-top>
    <app-profile></app-profile> 
    <app-navigation-header></app-navigation-header>
    <h2 id="acerca_de">Acerca de</h2>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <h2 id="experiencia">Experiencia</h2>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>

    <p></p>
    <h2 id="educacion">Educación</h2>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>

    <p></p>
    <h2 id="hard_soft_skills">Hard & Soft skills</h2>
    <p></p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <h2 id="proyectos">Proyectos</h2>
    <p></p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>
    <p>
        fffff
        fffff
        fffffffff
        fffff
        ffff
        fffff
    </p>

</body>