<!DOCTYPE html>
<link rel="stylesheet" href="app.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>
    Portfolio - Petraccaro Cantero Ian
</title>
<head>  
    <meta charset="utf-8">
</head>
<header class="page-header">
    <p> Ian Petraccaro Cantero </p>
    <p>
        <a href="https://twitter.com/Sectusius/"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/maquineman/"><i class="fa fa-instagram"></i></a>
        <button class="login-button">LOGIN</button>
    </p>
</header>
<body>
    <div class="profile-background">
            <img class=background-pic src="assets/Images/gator.jpg">
    </div>
    <div class="profile-picture">
      <img class="profile-pic" src="assets/Images/gator.jpg">
      <p class="edit-profile-button"><i class="fa fa-pencil"></i></p>
    </div>
        <h2>
            Ian Petraccaro Cantero
        </h2>
        <p>
            Estudiante de informatica en la UNLP
        </p>
        <div class="navegation-header">
            <button class="navegation-button">Acerca de</button>
            <button class="navegation-button">Educación</button>
            <button class="navegation-button">Experiencia</button>
            <button class="navegation-button">Hard skills & Soft skills</button>
        </div>
        <div>
        <h2>Acerca de</h2>
        </div>
        <div>
        <h2>Experiencia</h2>
        </div>
        <div>
        <h2>Educación</h2>
        </div>
        <div>
        <h2>Hard skills & Soft skills</h2>
        </div>
        <div>
        <h2>Proyectos</h2>
        </div>
</body>