<!DOCTYPE html>
<link rel="stylesheet" href="app.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>
    Portfolio - Petraccaro Cantero Ian
</title>
<head>  
    <meta charset="utf-8">
</head>
<header class="page-header">
    <p> Ian Petraccaro Cantero </p>
    <p>
        <a href="https://twitter.com/Sectusius/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/Sectusius/" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.instagram.com/maquineman/" target="_blank"><i class="fa fa-instagram"></i></a>
        <button class="login-button">LOGIN</button>
    </p>
</header>
<body>
    <div class="profile-background">
      <img class=background-pic src="assets/Images/gator.jpg">
      <img class="profile-pic" src="assets/Images/gator.jpg">
      <p class="edit-profile-button"><i class="fa fa-pencil"></i></p>
    </div>
        <div class="profile_text">
        <h2>
            Ian Petraccaro Cantero
        </h2>
        <p>
            Estudiante de informatica en la UNLP
        </p>
        </div>
        <div class="navegation-header">
            <a href="#acerca_de"><button class="navegation-button">Acerca de</button></a>
            <a href="#experiencia"><button class="navegation-button">Experiencia</button></a>
            <a href="#educacion"><button class="navegation-button">Educación</button></a>
            <a href="#hard_soft_skills"><button class="navegation-button">Hard & Soft skills</button></a>
            <a href="#proyectos"><button class="navegation-button">Proyectos</button></a>
        </div>
        <h2 id="acerca_de">Acerca de</h2>
        <p></p>
        <h2 id="experiencia">Experiencia</h2>
        <p></p>
        <h2 id="educacion">Educación</h2>
        <p></p>
        <h2 id="hard_soft_skills">Hard & Soft skills</h2>
        <p></p>
        <h2 id="proyectos">Proyectos</h2>
        <p></p>

</body>