body{
    background-color: rgb(127, 121, 165);
}
a, a:visited, a:hover, a:active{
    padding: 3px 3px 3px 3px;
    color:inherit;    
}
.mat-card{
    color:black;
    background-color: inherit;
    border:0;
    box-shadow: none;
}
button{
    margin: 5px;
}
.error{
    color:red
  }
.login-button{
    background-color: white;
    color: black;
}
.login-button:hover{
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
}