<div class="mt-5 container">
  <div class="row mx-auto">
    <div class="card">
      <h4 class="card-header">Iniciar Sesion</h4>
      <div class="card-body">
        <form (submit)="logIn()">
          <div class="form-group">
            <label for="cuil"> Nombre de usuario</label>
            <div></div>
            <input type="text" [(ngModel)]="user.username" name="username" class="form-control" />
          </div>
          <div class="form-group">
            <label for="password"> Contraseña </label>
            <div></div>
            <input type="password" [(ngModel)]="user.password" name="password" class="form-control" />
          </div>
          <div>
            <span style="color:red;">{{errorMsg}}</span>
          </div>
          <div class="register-buttons">
            <button type="submit" class="btn btn-primary btn-block">
              Iniciar Sesion
            </button>
            <a routerLink="/Home" class="btn btn-link"> Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
