<div class="profile-background">
    <div class="background-pic-container">
        <img class="background-pic" [src]="backgroundImg.url"/>
    </div>
    <i *ngIf="isAdmin()" class="fa fa-pencil edit-button" aria-hidden="true" (click)="updateBackgroundAttempt()"></i>
    <div>
        <img class="profile-pic" [src]="profileImg.url"/>
    </div>
</div>
<i *ngIf="isAdmin()" class="fa fa-pencil edit-button " aria-hidden="true" (click)="updateProfileAttempt()"></i>
    <div class="profile_text">
      <h2>
          Ian Petraccaro Cantero
      </h2>
      <p>
          Estudiante de informatica en la UNLP
      </p>
</div>