<div class="navegation-header">
    <a href="#acerca_de"><button class="navegation-button">Acerca de</button></a>
    <a href="#experiencia"><button class="navegation-button">Experiencia</button></a>
    <a href="#educacion"><button class="navegation-button">Educación</button></a>
    <a href="#hard_soft_skills"><button class="navegation-button">Hard & Soft skills</button></a>
    <a href="#proyectos"><button class="navegation-button">Proyectos</button></a>
    <a routerLink="/edit" *ngIf="isAdmin()" ><button class="navegation-button">Editar</button></a>
        
    <a *ngif="isLogged() && !isAdmin()"><button class="navegation-button">Solicitar Admin</button></a>
</div>