<!DOCTYPE html>
<link rel="stylesheet" href="home.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>
    Portfolio - Petraccaro Cantero Ian
</title>
<head>  
    <meta charset="utf-8">
</head>
<app-header></app-header>
<body>
    <app-scroll-to-top></app-scroll-to-top>
    <app-profile></app-profile> 
    <app-navigation-header></app-navigation-header>
    <h2 id="acerca_de">Acerca de</h2>
    <p>
        Soy Ian petraccaro Cantero, nací el 22 de mayo de 2002.
        Actualmente estoy estudiando la carrera de Licenciatura Informática en Universidad Nacional de La Plata.
    </p>
    <p>
        Resido en Argentina, en la ciudad de La Plata.
    </p>
    <h2 id="experiencia">Experiencia</h2>
    <p>
        Mi unica experiencia es este proyecto junto a uno que estoy actualmente desarrollando para una materia de mi facultad.
    </p>
    <h2 id="educacion">Educación</h2>
    <p>
        Termine mi educación secundaria en el colegio Marianista San Agustín de Nueve de Julio.
        Actualmente estoy cursando la carrera de Licenciatura Informática y Analista en Programador Universitario en la facultad de informatica de la Universidad Nacional de La Plata.
    </p>
    <h2 id="hard_soft_skills">Hard & Soft skills</h2>
    <p></p>
    <h2 id="proyectos">Proyectos</h2>
    <p>
        Portfolio Online solo frontend actualmente:<a href="https://sectusius.github.io/Home" target="_blank">https://sectusius.github.io/Home </a>
    </p>
</body>